  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->    
    <a href="/" class="brand-link" style="display: flex; align-items: center;">      
      <img src="./../img/viva1.png" alt="Logo" width="60" height="16" style="opacity: .8; margin-right: 8px;">
      <span class="brand-text font-weight-light">soft. | 
        <span style="color: white;">GobDatos</span>
      </span>   
    </a>    

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex">        
        <div class="info  text-center">
          <a href="#" class="d-block" >
            <i class="nav-icon fas fa-solid fa-id-badge fa-2x"></i>
            <b> sddd </b> 
          </a>          
        </div>
      </div>  -->

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-header">MENU</li>
		  
		  
		            
          <li class="nav-item">
            <a href="#" class="nav-link">                            
              <i class="nav-icon fas fa-solid fa-folder-open"></i>              
              <p>
                REPORTES
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/download" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>MIS REPORTES</p>
                </a>
              </li>                 
              <li class="nav-item">
                <a href="/todo_reportes" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>TODOS LOS REPORTES</p>
                </a>
              </li>   
            </ul>
          </li>  
          <li class="nav-item">
            <a href="#" class="nav-link">                            
              <i class="nav-icon fas fa-solid fa-list-check"></i>              
              <p>
                INVENTARIO
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/inventarioReportes" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>REPORTES</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/inventarioTablas" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>TABLAS</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/inventarioProcesos" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>PROCESOS</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">                            
              <i class="nav-icon fas fa-tachometer-alt"></i>           
              <p>
                MONITOR
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview"> 
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>
                    CALIDAD (LEGACY)
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/dlms" class="nav-link">
                      <i class="far fa-dot-circle nav-icon ml-3"></i>
                      <p>dlms **</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/storageVivaTePresta" class="nav-link">
                      <i class="far fa-dot-circle nav-icon ml-3"></i>
                      <p>storage viva te presta</p>
                    </a>
                  </li>                  
                  <li class="nav-item">
                    <a href="/traficoVoz" class="nav-link">
                      <i class="far fa-dot-circle nav-icon ml-3"></i>
                      <p>trafico voz **</p>
                    </a>
                  </li>                                    
                  <li class="nav-item">
                    <a href="/voneVsDwh" class="nav-link">
                      <i class="far fa-dot-circle nav-icon ml-3"></i>
                      <p>vone vs. dwh **</p>
                    </a>
                  </li>                                    
                  <li class="nav-item">
                    <a href="/raFtp" class="nav-link">
                      <i class="far fa-dot-circle nav-icon ml-3"></i>
                      <p>ra - ftp **</p>
                    </a>
                  </li>                                    
                  <li class="nav-item">
                    <a href="/portabilidad" class="nav-link">
                      <i class="far fa-dot-circle nav-icon ml-3"></i>
                      <p>portabilidad **</p>
                    </a>
                  </li>                                    
                </ul>
              </li> 

              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>
                    SERVIDORES / BD
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="far fa-dot-circle nav-icon ml-3"></i>
                      <p>
                        netezza
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a href="/monitorNetezzaConsultas_activas" class="nav-link">
                          <i class="fa-solid fa-circle-half-stroke ml-5"></i>
                          <p>sesiones</p>
                        </a>
                      </li>                  
                    </ul>
                  </li>         
                  <li class="nav-item">
                    <a href="/dpi" class="nav-link">
                      <i class="far fa-dot-circle nav-icon ml-3"></i>
                      <p>dpi</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="dataStage-11-7" class="nav-link">
                      <i class="far fa-dot-circle nav-icon ml-3"></i>
                      <p>datastage 11.7</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/dataStage-11-5" class="nav-link">
                      <i class="far fa-dot-circle nav-icon ml-3"></i>
                      <p>datastage 11.5 **</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/pentaho" class="nav-link">
                      <i class="far fa-dot-circle nav-icon ml-3"></i>
                      <p>pentaho 13</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/ftpReports" class="nav-link">
                      <i class="far fa-dot-circle nav-icon ml-3"></i>
                      <p>ftp reports **</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/crystalReports" class="nav-link">
                      <i class="far fa-dot-circle nav-icon ml-3"></i>
                      <p>crystal reports **</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/voneRpl" class="nav-link">
                      <i class="far fa-dot-circle nav-icon ml-3"></i>
                      <p>vone replica</p>
                    </a>
                  </li>                                          
                  <li class="nav-item">
                    <a href="/netezzaDev" class="nav-link">
                      <i class="far fa-dot-circle nav-icon ml-3"></i>
                      <p>netezza dev **</p>
                    </a>
                  </li> 
                  <li class="nav-item">
                    <a href="/bigdb" class="nav-link">
                      <i class="far fa-dot-circle nav-icon ml-3"></i>
                      <p>bigdb **</p>
                    </a>
                  </li>                                                        
                  <li class="nav-item">
                    <a href="/ggdb" class="nav-link">
                      <i class="far fa-dot-circle nav-icon ml-3"></i>
                      <p>ggdb **</p>
                    </a>
                  </li>      
                </ul>
              </li>                             
              <li class="nav-item">
                <a href="/monitorJira" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>JIRA</p>
                </a>
              </li>
            </ul>            
          </li>

          <% if (userRol === 'Admin') { %>
          <li class="nav-item">
            <a href="#" class="nav-link">                            
              <i class="nav-icon fas fa-solid fa-user-tie"></i>              
              <p>
                ADMINISTRADOR
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/users" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>USUARIOS</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/Acceso_reportes" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>ACCESO REPORTES</p>
                </a>
              </li>              
            </ul>
          </li>  
          <% } %>

          <li class="nav-item">
            <a href="/logout" class="nav-link">
              <i class="nav-icon fas fa-solid fa-right-from-bracket"></i>
              <p>
                Logout
              </p>
            </a>
          </li>                               
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>