<footer class="main-footer">
    <strong>C-137 | OPERATIVO - Data Warehouse 2024</strong>
    CARPE DIEM.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0.0
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.4/dist/sweetalert2.all.min.js"></script>
<!-- script para formato de tablas  -->
<script src="https://cdn.datatables.net/2.1.4/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.1.4/js/dataTables.bootstrap5.js"></script>




<!-- script para formato de tablas  -->

<!-- jQuery -->
<script src="./../js/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="./../js/bootstrap.bundle.min.js"></script>

<!-- dataTables & Plugins -->
<script src="./../js/jquery.dataTables.min.js"></script>
<script src="./../js/dataTables.bootstrap4.min.js"></script>
<script src="./../js/dataTables.responsive.min.js"></script>
<script src="./../js/responsive.bootstrap4.min.js"></script>
<script src="./../js/dataTables.buttons.min.js"></script>
<script src="./../js/buttons.bootstrap4.min.js"></script>
<script src="./../js/jszip.min.js"></script>
<script src="./../js/pdfmake.min.js"></script>
<script src="./../js/vfs_fonts.js"></script>
<script src="./../js/buttons.html5.min.js"></script>
<script src="./../js/buttons.print.min.js"></script>
<script src="./../js/buttons.colVis.min.js"></script>

<!-- AdminLTE App -->
<script src="./../js/adminlte.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="./../js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="./../js/dashboard.js"></script>
<!-- Bootstrap4 Duallistbox -->
<script src="./../js/jquery.bootstrap-duallistbox.min.js"></script>

<!-- script para hacer el borrado con sweetalert2 https://sweetalert2.github.io/#handling-buttons-->
<script>
    function confirmationUser(id){
        Swal.fire({
            title: "¿ESTÁ SEGURO DE ELIMINAR EL REGISTRO?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Si",
            cancelButtonText: "Cancelar" 
        }).then((result) => {
            if (result.isConfirmed) {
                window.location = '/deleteUser/' + id;
            }
        });
    } 
    function confirmationReport(id){
        Swal.fire({
            title: "¿ESTÁ SEGURO DE ELIMINAR EL REPORTE?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Si",
            cancelButtonText: "Cancelar" 
        }).then((result) => {
            if (result.isConfirmed) {
                window.location = '/deleteRepo/' + id;
            }
        });
    }

    function confirmationAccesos(id){
        Swal.fire({
            title: "¿ESTÁ SEGURO DE ELIMINAR EL ACCESO?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Si",
            cancelButtonText: "Cancelar" 
        }).then((result) => {
            if (result.isConfirmed) {
                window.location = '/deleteAcceso/' + id;
            }
        });
    }

    function confirmationTabla(id){
        Swal.fire({
            title: "¿ESTÁ SEGURO DE ELIMINAR LA TABLA?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Si",
            cancelButtonText: "Cancelar" 
        }).then((result) => {
            if (result.isConfirmed) {
                window.location = '/deleteTablas/' + id;
            }
        });
    }      
    function confirmationProceso(id){
        Swal.fire({
            title: "¿ESTÁ SEGURO DE ELIMINAR EL PROCESO?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Si",
            cancelButtonText: "Cancelar" 
        }).then((result) => {
            if (result.isConfirmed) {
                window.location = '/deleteProceso/' + id;
            }
        });
    } 
    function confirmationTablaDepenPadre(id_reporte_objeto, id_reporte){
        Swal.fire({
            title: "¿ESTÁ SEGURO DE ELIMINAR LA DEPENDENCIA?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Si",
            cancelButtonText: "Cancelar" 
        }).then((result) => {
            if (result.isConfirmed) {
                window.location = `/deleteTablaDepenPadre/${id_reporte_objeto}?id_reporte=${id_reporte}`;
            }
        });
    } 
    
    //Bootstrap Duallistbox
    $('.duallistbox').bootstrapDualListbox()

</script>
<!-- Si hay un error en los parámetros de la URL, mostrar un mensaje -->
<script>
  const urlParams = new URLSearchParams(window.location.search);
  const error = urlParams.get('error');

  if (error === 'NO_TIENE_PERMISO') {
      Swal.fire({
          title: "NO TIENES PERMISOS",
          icon: "error",
          confirmButtonColor: "#3085d6",
          confirmButtonText: "ACEPTAR"
      });
  }
</script>

<!-- para las tablas -->
<script>
    new DataTable('#tableUser');
</script>
<script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true, "lengthChange": true, "autoWidth": false,"ordering": false,
        "buttons": ["copy", "csv", "excel", "pdf", "colvis"],
        "dom": '<"row"<"col-sm-12 col-md-1"f>>' +
        '<"row"<"col-sm-4 col-md-4"B> <"col-sm-1 col-md-1"l>>' 
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
      $("#example3").DataTable({
        "responsive": true, "lengthChange": true, "autoWidth": false,"ordering": false,
        "buttons": ["copy", "csv", "excel"],
        "dom": '<"row"<"col-sm-12 col-md-3"f>>' +
        '<"row"<"col-sm-4 col-md-4"B><"col-sm-1 col-md-1"l>>'
      }).buttons().container().appendTo('#example3_wrapper .col-md-6:eq(0)');
      $("#example4").DataTable({
        "responsive": true, "lengthChange": true, "autoWidth": false,"ordering": true, "paging": true,
        "buttons": ["copy", "csv", "excel", "pdf", "colvis"]        
      }).buttons().container().appendTo('#example4_wrapper .col-md-6:eq(0)');
      $("#example5").DataTable({
        "responsive": true, "lengthChange": true, "autoWidth": false,"ordering": true, "paging": true,
        "buttons": ["copy", "csv", "excel", "pdf", "colvis"]        
      }).buttons().container().appendTo('#example5_wrapper .col-md-6:eq(0)');
    });
  </script>
  
  <script>
  const urlParams2 = new URLSearchParams(window.location.search);
  const error2 = urlParams2.get('error');

  if (error2 === 'ARCHIVO_NO_ENCONTRADO') {
      Swal.fire({
          title: "ARCHIVO NO ENCONTRADO",
          icon: "error",
          confirmButtonColor: "#3085d6",
          confirmButtonText: "ACEPTAR"
      });
  } else if (error2 === 'ERROR_DESCARGA') {
      Swal.fire({
          title: "ERROR AL DESCARGAR EL ARCHIVO",
          icon: "error",
          confirmButtonColor: "#3085d6",
          confirmButtonText: "ACEPTAR"
      });
  } else if (error2 === 'NO_TIENE_PERMISO') {
      Swal.fire({
          title: "NO TIENES PERMISOS",
          icon: "error",
          confirmButtonColor: "#3085d6",
          confirmButtonText: "ACEPTAR"
      });
  }
</script>

</body>
</html>