<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GD - VIVA soft.</title>

  <!-- cdn para los iconos -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet" >

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="./../css/all.min.css">
 
  <!-- datatables -->
  <link rel="stylesheet" href="./../css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="./../css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="./../css/buttons.bootstrap4.min.css">
  
  <!-- Theme style -->
  <link rel="stylesheet" href="./../css/adminlte.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="./../css/OverlayScrollbars.min.css">
  <!-- Bootstrap4 Duallistbox -->
  <link rel="stylesheet" href="./../css/bootstrap-duallistbox.min.css">

  <!-- calendario -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" />
  <!-- calendario -->

  <link rel="apple-touch-icon" sizes="180x180" href="./../img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./../img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./../img/favicon-16x16.png">
  <link rel="manifest" href="./../img/site.webmanifest">

  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/networkgraph.js"></script>
  <style>
      #container {
          width: 600px;
          height: 600px;
          border: 1px solid #ccc; /* Opcional: para ver el borde del contenedor */
      }
  </style>
  

</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">  